/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
  /* Gotham Theme*/
  /* Base Colors*/
  --darkest_black: #0c1014;
  --slightly_lighter_black:#11151c;
  --bluish_black:#091f2e;
  --very_dark_navy:#0a3749;
  --dark_teal:#245361;
  --light_teal:#599cab;
  --very_light_teal:#99d1ce;
  --almost_white_teal:#d3ebe9;
  /* Accent Colors*/
  --red:#c23127;
  --orange:#d26937;
  --yellow:#edb443;
  --magenta:#888ca6;
  --greyish_blue_violet:#4e5166;
  --dark_blue:#195466;
  --lightest_cyan:#33859E;
  --green:#2aa889;
}

html {
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  background: var(--darkest_black);
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--darkest_black);
  color: var(--almost_white_teal);
}

a {
  color: var(--almost_white_teal);
  text-decoration: none;
}

a:visited {
  color: var(--almost_white_teal);
}

a:active {
  color: var(--almost_white_teal);
}

.clr {
  clear: both;
  border: var(--red);
}

/* Media Queries for Backgrounds*/
@media all and (max-width: 480px){
  #above_ground {
    background-image: url("../img/wayne_manor_car.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: 43% center;
  }

  #ground {
    background-position: 43% center;
    background-image: url("../img/ground.png");
    background-size: cover;
    height: 200vh;
    width: 100%;
    display: flex;
    /*border: var(--yellow) 2px solid;*/
    box-sizing: border-box;
  }
}
@media all and (min-width: 481px) and (max-width: 600px) {
  #above_ground {
    background-image: url("../img/wayne_manor_car.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: 50% center;
  }

  #ground {
    background-position: 50% center;
    background-image: url("../img/ground.png");
    background-size: cover;
    height: 200vh;
    width: 100%;
    display: flex;
    /*border: var(--yellow) 2px solid;*/
    box-sizing: border-box;
  }
}
@media all and (min-width: 601px) and (max-width: 768px) {
  #above_ground {
    background-image: url("../img/wayne_manor_car.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: 52% center;
  /*  was 55% center*/
  }

  #ground {
    background-position: 52% center;
    background-image: url("../img/ground.png");
    background-size: cover;
    height: 200vh;
    width: 100%;
    display: flex;
    /*border: var(--yellow) 2px solid;*/
    box-sizing: border-box;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  #above_ground {
    background-image: url("../img/wayne_manor_car.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: 52% center;
  }

  #ground {
    background-position: 52%;
    background-image: url("../img/ground.png");
    background-size: cover;
    height: 200vh;
    width: 100%;
    display: flex;
    /*border: var(--yellow) 2px solid;*/
    box-sizing: border-box;
  }
}
@media all and (min-width: 1025px) and (max-width: 1200px) {
  #above_ground {
    background-image: url("../img/wayne_manor_car.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: left;
  }

  #ground {
    background-position: left;
    background-image: url("../img/ground.png");
    background-size: cover;
    height: 200vh;
    width: 100%;
    display: flex;
    /*border: var(--yellow) 2px solid;*/
    box-sizing: border-box;
  }
}
@media all and (min-width: 1201px) {
  #above_ground {
    background-image: url("../img/wayne_manor_car.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: 23% center;
  }

  #ground {
    background-position: 23%;
    background-image: url("../img/ground.png");
    background-size: cover;
    height: 200vh;
    width: 100%;
    display: flex;
    /*border: var(--yellow) 2px solid;*/
    box-sizing: border-box;
  }
}

#go_down {
  width: 15em;
  margin-top: 70vh;
  /*70vh was og but 61 puts it in grass*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--almost_white_teal);
  /*border: var(--orange) 5px solid;*/
}

@media all and (orientation: landscape){
  #go_down {
    margin-top: 61vh;
  }
}

#in_between {
  width: 5em;
  height: 5em;
  text-align: center;
  box-sizing: border-box;
  /*border: var(--magenta) 5px solid;*/
  margin-top: 110vh;
  /*98vh puts it right on the visible line*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#scroll_icon {
  color: var(--very_light_teal)
}

#scroll_link {
  text-align: center;
}

/*use this for when you have an image background on welcome_screen*/
#welcome_screen {
  margin-top: 0;
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  text-align: center;
  /*border: var(--red) solid 1px;*/
}

.welcome_background {
  margin-top: -2vh;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/batcaveBlue.jpg");
  background-size: cover;
  background-position: 60% center;
}

/* Using a mask on top of the background image*/
.welcome_background::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(12,16,20,.7);
  background-size: cover;
  content: "";
}

/*For Tablet and Desktop sizes*/
@media all and (orientation: portrait){
  #welcome_screen p {
    position: relative;
    top: 7vh;
    font-size: 1em;
    font-weight: lighter;
    box-sizing: border-box;
    /*border: var(--magenta) solid 1px;*/
  }

  #welcome_screen h1 {
    position: relative;
    /*use vh and vw, then media queries to scale it up*/
    font-family: "Major Mono Display", monospace;
    /*letter-spacing: .2em;*/
    font-size: 8em;
    /*text-decoration: overline;*/
    /*line-height: 2em;*/
    padding: .5em;
    margin: auto;
    /*border: var(--lightest_cyan) 1px solid;*/
  }
}

@media all and (orientation: landscape){
  #welcome_screen p {
    position: relative;
    top: 7vh;
    /*og was 1em*/
    font-size: 1em;
    font-weight: lighter;
    box-sizing: border-box;
    /*border: var(--magenta) solid 1px;*/
  }

  #welcome_screen h1 {
    position: relative;
    /*use vh and vw, then media queries to scale it up*/
    font-family: "Major Mono Display", monospace;
    /*letter-spacing: .2em;*/
    font-size: 8em;
    /*text-decoration: overline;*/
    /*line-height: 2em;*/
    padding: .5em;
    margin: auto;
    /*border: var(--lightest_cyan) 1px solid;*/
  }
}

/*for mobile devices*/
@media all and (orientation: portrait) and (max-height: 480px),
all and (orientation: portrait) and (max-width: 480px){
  #welcome_screen p {
    position: relative;
    top: 22.5vh;
    /*og was 1em*/
    /*font-size: 4.5vw;*/
    font-size: 1em;
    font-weight: lighter;
    box-sizing: border-box;
  }

  #welcome_screen h1 {
    position: relative;
    /*use vh and vw, then media queries to scale it up*/
    font-family: "Major Mono Display", monospace;
    top: 22.5vh;
    font-size: 3em;
    text-decoration: overline;
    line-height: 2em;
    padding: .5em;
    margin: auto;
  }
}

@media all and (orientation: landscape) and (max-height: 480px),
all and (orientation: landscape) and (max-width: 480px){
  .welcome_background {
    margin-top: -4vh;
  }

  #welcome_screen p {
    position: relative;
    top: 11vh;
    /*og was 1em*/
    font-size: 1em;
    font-weight: lighter;
    box-sizing: border-box;
  }

  #welcome_screen h1 {
    position: relative;
    /*use vh and vw, then media queries to scale it up*/
    font-family: "Major Mono Display", monospace;
    top: 5vh;
    font-size: 3em;
    text-decoration: overline;
    line-height: 2em;
    padding: .5em;
    margin: auto;
  }
}

.container {
  width: 90%;
  border: var(--green) 1px solid;
  margin: 5%;
  padding: .5em;
  box-sizing: border-box;
}

.left_trophy {
  border: var(--dark_blue) 1px solid;
}

.right_trophy {
  border: var(--dark_blue) 1px solid;
}

.trophy_description {
  border: var(--red) 1px solid;
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.trophy_image {
  float: right;
  border: var(--yellow) 1px solid;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
}

.trophy_image img {
  width: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

